<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />

    <!-- Lecture du capteur de pas (requis Android 10+) -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Foreground Service (requis Android 9+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Foreground Service type dataSync (requis Android 14+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <service
            android:name="com.favennec.libpodometreapi.StepCounterService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
    </application>

</manifest>
